---
name: Generate Feed

on:
  push:
    # paths:
    #   - "articles/**"
  schedule:
    # Run daily at midnight UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Test Readability CLI
        run: |
          npm install -g readability-cli
          readable https://baali.muse-amuse.in/posts/readable-code.html
